*{
    font-family: 'Quicksand', sans-serif;
}
.my-body{
    /* top: -20px; */
    max-width: 100%;
    height: auto;
    margin: 0px auto;
    /* background-color: white; */
    /* border: 1px solid gainsboro; */
    /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 1); */
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background: none;
    z-index: 1000; /* Set a high z-index to make sure it stays on top */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
  }

  .navbar a {
    text-decoration: none;
    color: #737C8C; /* Change the color as needed */
    margin: 0 15px;
    font-size: 18px;
    font-weight: 800;
  }
  .navbar a:hover {
    text-decoration: none;
    color: white; /* Change the color as needed */
    background-color: #717171;
    margin: 0 15px;
    font-size: 18px;
    padding: 10px;
  }

  .navbar #brand {
    font-size: 24px;
    font-weight: bold;
    color: #737C8C;
  }
.main-header{
    top:0px;
    /* bottom: 10px; */
    width: 95%;
    height: auto;
    background-color: gainsboro;
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    position: fixed;
    /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 1); */
}
.header-name{
    padding: 15px;
    margin: 5px;
    color: #737C8C;
    font-size: larger;
    cursor: pointer;
}
.main-menu{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: medium;
    
}
.main-menu > ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    justify-content: right;
}
.main-menu > ul > li > a {
    color: black;
    text-decoration: none;
    padding: 15px;
    margin-right: 5px;
    display: inline-block;
    font-size: large;
}
.main-menu > ul > li > a:hover {
    background-color: #737C8C;
    color: white;
}
.main-content{
    /* justify-content: center; */
    padding: 5px;
    display: block;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    
    /* align-items: center;
    justify-content: center; */
}
.resume{
    padding-left: 18%;
    padding-right: 18%;
    display: block;
    text-align: justify;
    padding-bottom: 20px;
    margin-top: 65px;
    /* margin-left: 100px;
    margin-right: 100px; */
    /* align-items: center; */
}

.my-resume-header{
    align-items: center;
    justify-content: center;
}

.enfasis,.where{
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.where{
    font-size: 15px;
}
.sub{
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: gray;
    
}


.enfasis > strong{
    padding-right: 32px;
}


/* .main-picture{
    display: grid;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
.big-name{
    font-size: xx-large;
    color: #737C8C;
    margin-bottom: 0px;
    /* text-align: center; 
} */
h1.name{
    color: #737C8C;
    margin-bottom: 5px;
    margin-top: 15px;
    padding-top: 20px;
    justify-content: center;
    display: flex;
}

.d1{
    font-size: 14px;
    margin: 0;
    justify-content: center;
    display: flex;
}
.d2{
    text-align: justify;
}
.context{
    /* color: #0a66c2; */
    color: #737C8C;
}
.enfasis2{
    padding-left: 20px;
    font-size: 15px;
}
.enfasis2 > strong{
    padding-right: 15px;
    font-size: medium;
}
.conference{
    font-size: 14px;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.conference-link{
    font-size: 14px;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    text-decoration: none;
    cursor: pointer;
}
.authors{
    font-size: 13px;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: gray;
}
.authors > span{
    color: #737C8C;
    font-weight: bold;
}

.thanks{
    margin-top: 20px;
}
.about{
    padding-top: 5px;
    padding-left: 30%;
    padding-right: 30%;
    text-align: justify;
}
.main-footer{
    background-color: gainsboro;
    display: grid;
}
.connect{
    font-size: larger;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 0;
    margin: 0;
    /* margin: 15px; */
}
.main-footer > a{
    /* color: #0a66c2; */
    color: #737C8C;
    margin: 0;
    padding: 0;
}
.main-footer > a > i{
    size: 1em;
    /* padding-left: 50%; */
    align-items: center;
    /* text-decoration: none; */
    margin: 5px;
    justify-content: center;
    padding-bottom: 10px;
    display: grid;
    margin-top: 10px;
}
.rights{
  color: rgba(0, 0, 0, 0.756);
  padding-left: 20px;
  font-size: small;
  margin: 0;
  padding-bottom: 10px;
}


.tabs {
    display: flex;
    /* justify-content: space-around; */
    margin-top: 10px; /* Reduce margin */
    border-bottom: 2px solid #ccc; /* Add border */
}

.tab {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-bottom: none; /* Remove border at the bottom */
    margin: 0; /* Remove default margin */
    box-shadow: #717171;
}

.tab:hover {
    background-color: gainsboro; /* Highlight on hover */
}

.tab.active {
    background-color: #737C8C; /* Highlight active tab */
    color: white;
}

.tab-content {
    display: none;
}

.publications {
    display: block; /* Initially show publications */
}

@media screen and (max-width:700px) {
    .main-header{
        display: grid;
        text-align: center;
        justify-content: center;
    }
    .main-menu > ul > li > a {
        padding: 10px;
        font-size: medium;
    }
    .resume{
        padding-left: 10%;
        padding-right: 10%;
        display: block;
        text-align: justify;
        padding-bottom: 20px;
        margin-top: 118px;
        /* margin-left: 100px;
        margin-right: 100px; */
        /* align-items: center; */
    }
}

